body{
    font-family: sans-serif;
    background-color: rgb(26, 26, 26);
    color: white;
}

.container{
    padding-top: 50px;
}

.inner-container{
    border: 1px solid rgb(62, 62, 62);
    padding: 15px;
}

.inner-container.left-side{
    text-align: center;
}

.inner-container img.profile{
    width: 70%;
    border-radius: 70%;
    display: block;
    margin: auto;
    border: 2px solid white;
    margin-bottom: 20px;
}

.inner-container.left-side button{
    font-size: 17px;
    width: 100px;
    border-radius: 10px;
    padding: 4px 0;
    cursor: pointer;
    background-color: #303fc1;
    border: none;
    color: white;
    transition: all 0.3s ease;
}

.inner-container.left-side button:hover{
    background-color: #1e2779;
}

.inner-container.right-side form{
    display: flex;
    height: 100px;
}

.inner-container.right-side form textarea{
    width: 85%;
    border: 0;
    padding: 10px;
    resize: none;
    outline-color: rgb(62, 62, 62);
}

.inner-container.right-side form button{
    width: 15%;
    border: 0;
}

.custom-modal{
    display: none;
    text-align: center;
    background-color: rgb(26, 26, 26);
    box-shadow: rgba(67, 67, 67, 0.8) 0 0 1000px 1000px;
    padding: 50px;
    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
}

.custom-modal h2{
    padding-bottom: 30px;
    color: white;
}

.custom-modal button#closeModal{
    font-size: 25px;
    font-weight: bold;
    background-color: transparent;
    color: #303fc1;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    position: absolute;
    top: 30px;
    right: 30px;
}

.custom-modal button#closeModal:hover{
    color: #1e2779;
}

.custom-modal div{
    padding-bottom: 20px;
}

.custom-modal input{
    background-color: rgb(26, 26, 26);
    box-shadow: 0 0 0 0.5px white;
    border: none;
    width: 350px;
    border-radius: 3px;
    padding: 10px 0;
    color: white;
}

.custom-modal .btnEdit{
    font-size: 17px;
    width: 350px;
    border-radius: 10px;
    padding: 4px 0;
    cursor: pointer;
    background-color: #303fc1;
    border: none;
    color: white;
    transition: all 0.3s ease;
}

.custom-modal .btnEdit:hover{
    background-color: #1e2779;
}

#deleteProfile{
    font-size: 17px;
    width: 350px;
    border-radius: 10px;
    padding: 4px 0;
    cursor: pointer;
    background-color: #c13030;
    border: none;
    color: white;
    transition: all 0.3s ease;
}

#deleteProfile:hover{
    background-color: #621010;
}

#passwordError{
    display: none;
    padding-top: 5px;
    color: red;
    font-size: 13px;
}


#allPostsWrapper .single-post{
    background-color: rgb(62, 62, 62);
    padding: 20px;
    margin-top: 30px;
    color: white;
}

#allPostsWrapper .single-post .post-content{
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    font-size: 20px;
}

#allPostsWrapper .single-post .post-comments form {
    height: 30px;
    margin-top: 15px;
}

#allPostsWrapper .single-post .post-comments form input {
    width: 85%;
    padding: 0 10px;
}

#allPostsWrapper .single-post .post-comments form button {
    width: 15%;
    cursor: pointer;
    background-color: #303fc1;
    border: none;
    color: white;
    transition: all 0.3s ease;
}

#allPostsWrapper .single-post .post-comments form button:hover{
    background-color: #1e2779;
}
